*.class
*.log
Inec/war/gwtindiana
Indiana/gwt-unitCache
.metadata
.classpath
Inec/war/WEB-INF/appengine-generated
Inec/war/WEB-INF/deploy
Inec/war/WEB-INF/classes
webserviceinec/gestionMantenimiento/build
webserviceinec/gestionMantenimiento/.gradle/
webserviceinec/gestionUsuario/build
webserviceinec/gestionUsuario/.gradle/
webserviceinec/gestionIncidencia/build
webserviceinec/gestionIncidencia/.gradle/
Inec/war/inec/
Inec/war/StartAdmin/
android_inec/.idea/
Inec/war/WEB-INF/classes/

